<div class="container">
	<h2>日本地図の表示</h2>
	<div class="japan-map-view">
		<span id="map-container"></span>
		<div class="col-md-6 prefectures-index">
			<div class="prefecture-title text-center">以下をクリックしたら検索されます</div>
			<div class="prefectures text-center"></div>
		</div>
	</div>
</div>