/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */


@import "bootstrap";
@import "slick-theme";
@import "slick";


/*footerを下部に固定*/
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  color: #ffffff;
}

/* slick */
.slick img {
	height: 300px;
	width: 100%;
}


/*header*/
.home-top {
	background-image: image-url('photo2.jpeg');
	height: 700px;
	background-size: cover !important;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
}

.inner {
	left: 50%;
	position: absolute;
	top: 50%;
}

.top-content {
	border: 1px solid #000000;
	background-color: rgba(255,255,255,0.5);
	transform: translate(-50%,-50%);
	width: 600px;
}

.about-list > li{
	list-style: none;
}

.share-trip,.search-trip,.schedule-trip {
	border: 1px solid #000000;
	margin: 20px 0;
}


.navbar-brand,.nav-link {
	color: #ffffff !important;
}


#top-scroll {
	postition: relative;
	z-index: 100;
	margin: 0;
	padding: 0;
}

#page-top {
	display: block;
	position: fixed;
	z-index: 110;
	bottom: -50px;
	right : 50px;
	padding: 0;
	color: #007bff;
	transition: 0.5s;
}

#page-top:hover {
	transform: translateY(-10px);
}

.user_image {
	border-radius: 50%;
}

.user-detail > div {
	margin: 20px 0;
}

//postのプレビュー
.post_new {
	position: fixed;
	top: 70px;
	right: 50px;
}

.btn-file {
	display: none;
}

.slick_index {
	width: 200px;
}

.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

.slick-prev{
	left: 0px !important;
	background: black !important;
	z-index: 100;
	opacity: 0.5;
}

.slick-next{
	right: 0px !important;
	background: black !important;
	z-index: 100;
	opacity: 0.5;
}


.slick_index_image{
	width: 200px;
	height: 200px;
}


.post-favorite {
	position: absolute;
	top: 2%;
	z-index: 110;
	background-color: #ffffff;
	opacity: 0.7;
}


.post-content {
	width: 200px;
	margin: 10px auto;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 1px 4px gray;
}

.content-top {
	width: 200px;
}

.content-bottom {
	width: 200px;
}

.content-bottom:hover {
	background-color: #F5F5F5;
}

.post-index-more {
	margin: 20px auto;
}

.form_image {
	background-color: grey;
	width: 100%;
	height: 200px;
}

.prefecture {
	display: none;
}

.city {
	display: none;
}

