<div class="container">
<div class="page-sub-title">一覧画面</div>

<div data-turbolinks="false">
	<%= link_to "+",new_admin_notice_path,class: "btn btn-primary rounded-circle float-right" %>
</div>

<%= render 'notice_index', {notices: @notices} %>

<%= paginate @notices %>
</div>