// Place all the styles related to the user::schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*schedule_calender*/

.schdule_content {
	margin-top: 50px;
}

.schedule_calender {
	margin-top: 50px;
}

.schedule-index {
	padding: 10px;
	border: 1px solid #000000;
	border-radius: 20px;
	margin-top: 10px;
}

.schdule-title {
	font-size: 20px;
}